<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/complain.css" /> 
<link rel="stylesheet" type="text/css" href="css/head.css" /> 
<script language="javascript" type="text/javascript" src="templates/head.js" charset="gb2312"></script> 
<title>简单介绍</title>
</head>

<body>
<div id="left">
<p>填写申诉事项</p>
</div>
<div id="center">
<form id="com" action="#" method="post">
<p>填写相关事项：<input name="shixiang" type="text" /></p>
<p>填写具体内容:<input name="content" type="text" /></p>
<p>填写发生时间:<input name="time" type="text" /></p>
<dd>
  <input name="tijiao" type="submit" value="提交"  style="font-size:18px;"/>
</dd>
</form>
</div>

<script language="javascript" type="text/javascript" src="templates/foot.js" charset="gb2312"></script> 
</body>
</html>