<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/news.css" /> 
<link rel="stylesheet" type="text/css" href="css/head.css" /> 
<script language="javascript" type="text/javascript" src="templates/head.js" charset="gb2312"></script> 
<title>{{$title}}</title>
</head>

<body>
<div id="sititle">
<ul id="tid">{{$tid}}</ul>
<label id="date" >{{$time}}</label>
<label id="editer">作者：{{$editer}}</label>
<div id="content">{{$content}}</div>
</div>
<div id="right">
此处显示一些相关的新闻或公告
</div>
<div id=right2>
此处显示一些需求信息
</div>

<script language="javascript" type="text/javascript" src="templates/foot.js" charset="gb2312"></script> 
</body>
</html>
