<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1 align='center'>后台</h1>
<div id="add">
<li id="one"><a href="background.php?action=addtask">添加任务</a></li>
</div>
<div id="zh" style="width:210px;padding:18px;overflow:hidden;word-wrap:break-word;word-break:break:all; font-size:15pt; line-height:18px; background-color:#EEE; float:left;">

<font disabled>

		<span class="STYLE1">完成的翻译</span>  {{foreach from=$tasklist item=oss key=index}}
		<br>
		<dd><a href="background.php?action=selectone&id={{$oss.id}}">{{$oss.title}}</a></dd>
		<dd><a href="background.php?action=update&id={{$oss.id}}">编辑</a></dd>
		<dd><a href="background.php?action=delete&id={{$oss.id}}">删除</a></dd></br>
		<hr />
		{{/foreach}}
	
</div>	

<div id="zh" style="width:210px;padding:18px;overflow:hidden;word-wrap:break-word;word-break:break:all; font-size:15pt; line-height:18px; background-color:#EEE; float:left;">

<font disabled>

		<span class="STYLE1">可领取的任务</span>  {{foreach from=$need item=oss1 key=index1}}
		<br>
		<dd><a href="background.php?action=selectone&id={{$oss1.id}}">{{$oss1.title}}</a></dd>
		<dd><a href="background.php?action=update&id={{$oss1.id}}"><img src="images/icon_edit.gif" />编辑</a></dd>
		<dd><a href="background.php?action=delete&id={{$oss1.id}}"><img src="images/icon_delete.gif" />删除</a></dd></br>
		<hr />
		{{/foreach}}	

</div>	
<div id="zh" style="width:210px;padding:18px;overflow:hidden;word-wrap:break-word;word-break:break:all; font-size:15pt; line-height:18px; background-color:#EEE; float:left;">

<font disabled>

		<span class="STYLE1">正在进行中的任务</span>  {{foreach from=$do item=oss2 key=index2}}
		<br>
		<dd><a href="background.php?action=selectone&id={{$oss2.id}}">{{$oss2.title}}</a>选做人：{{$oss2.user}}</dd>
		<dd><a href="background.php?action=update&id={{$oss2.id}}">编辑</a></dd>
		<dd><a href="background.php?action=delete&id={{$oss2.id}}">删除</a></dd></br></br>
		<hr />
		{{/foreach}}
</div>	
	


</body>
</html>

