<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$title}}</title>
<link type="text/css" rel="stylesheet" href="css/web.css"/>
</head>

<body>
<div id="wrapper">
	<div id="main">
		<h3 class="newstitle">{{$title}}</h3>
		<h4 class="newsdate">开始日期:{{$starttime}}</h4>
		<h4 class="newsdate">截止日期:{{$stoptime}}</h4>
		<h3 class="newsdate">翻译者:{{$user}}</h3>
		<div class="content">
		{{$content}}
		</div>
	</div>
</div>
<hr/>
<a href="background.php" align="right">返回后台</a>
</body>
</html>
