/* CSS Document */
#fclass0
{ top:150px;
     float:left;
	 position:relative;
	 left:140px;
	 height:190px;
	 width:25%;
	 border:1px solid ;
	 border-color:#999999;

}
#fclass1
{top:150px;
     float:left;
     left:140px;
	 height:200px;
	 position:relative;
	 width:30%;
	 border:1px solid ;
	 border-color:#999999;
	 overflow:hidden;
	 white-space:nowrap;
     font-size:18px;
	  text-decoration:none;
}
#fclass1 ul#title{
margin-top:0px;
background-image:url(../images/bb.jpg);
text-align:left;
 text-decoration:none;
}
#fclass1 ul#cont{
margin-top:0px;
text-align:left;
 text-decoration:none;
}
#fclass2
{top:150px;
     float:left;
	  left:140px;
	 height:200px;
	 position:relative;
	 width:21%;
 border:1px solid ;
	 border-color:#999999;
	  text-align:left;
	  	 overflow:hidden;
	 white-space:nowrap;
	  text-decoration:none;
}
#fclass2 ul#title{
margin-top:0px;
background-image:url(../images/bb.jpg);
 text-decoration:none;
}
#fclass3
{
float:left;
	 top:150px;
	 left:140px;
	  height:200px;
	 position:relative;
	 width:31%;
	 border:1px solid ;
	 border-color:#999999;
	  text-align:left;
	  	 overflow:hidden;
	 white-space:nowrap;
	  text-decoration:none;
}
#fclass3 ul#title{
margin-top:0px;
background-image:url(../images/bb.jpg);
 text-decoration:none;
}
#fclass4
{
     float:left;
	 top:150px;
     left:140px;
	  height:200px;
	 position:relative;
	 width:23%;
	 	 border:1px solid ;
	 border-color:#999999;
	  text-align:left;
	  	 overflow:hidden;
	 white-space:nowrap;
	  text-decoration:none;
}
#fclass4 ul#title{
margin-top:0px;
background-image:url(../images/bb.jpg);
 text-decoration:none;
}
#fclass5
{
     float:left;
	 top:150px;
    left:140px;
	 height:200px;
	 position:relative;
	 width:22%;
	  border:1px solid ;
	 border-color:#999999;
	  text-align:left;
	  	 overflow:hidden;
	 white-space:nowrap;
	  text-decoration:none;
}
#fclass5 ul#title{
margin-top:0px;
background-image:url(../images/bb.jpg);
 text-decoration:none;
}
#fclass6
{
     float:left;
	 top:150px;
	 height:200px;
	 position:relative;
	 width:100%;
	 padding-bottom:60px;
	  border:1px solid ;
	 border-color:#999999;
}

#fclass1 a:link,#fclass1 a:visited{
font-size:16px;
color:#333333;
	text-decoration:none;
}
#fclass1 a:hover{
	color:#004c84;
	text-decoration:none;

}
#fclass2 a:visited{
font-size:16px;
color:#333333;
	text-decoration:none;
}
#fclass3 a:visited{
font-size:16px;
color:#333333;
	text-decoration:none;
}
#fclass4 a:visited{
font-size:16px;
color:#333333;
	text-decoration:none;
}
#fclass5 a:visited{
font-size:16px;
color:#333333;
	text-decoration:none;
}


