@charset "utf-8";
*{margin:0;padding:0;}
body{
	background-color:#ebf7ff;
	margin: 0px;
	padding:0px;
	text-align:center;
}
#container{
	position:relative;
	margin:1px auto 0px auto;
	width:1000px;
	text-align:left;
	background:url(../images/index/container_bg.jpg) repeat;
}
#globallink{
	width:1000px; height:210px;
	margin:0px;
	background-image:url(01/banner.jpg);	/* 添加banner图片 */
	background-repeat:no-repeat;
	background-color:#ebf7ff;
	font-size:12px;
}
#globallink ul{
    list-style-type:none;
	position:absolute;
	display:inline;
	width:517px;
	left:568px; top:180px;				/* 调整菜单文字的位置 */
	padding:0px; margin:0px;
}
#globallink li{
	float:left; 
	text-align:center;
}
#globallink ul li#one, #globallink ul li#two, #globallink ul li#three{ width:57px;}
#globallink ul li#four, #globallink ul li#five, #globallink ul li#six{ width:57px;}
#globallink a:link, #globallink a:visited{
	color:#FFFFFF;
	text-decoration:underline;
}
#globallink a:hover{
	color:#004c84;
	text-decoration:none;
}


#footer{
	clear:both;				/* 不受浮动影响 */
	font-size:12px;
	text-align:center;
	color:#226c81;
	padding-bottom:20px;
	margin:0px;
	padding-top:20px;
	background-color:#ebf7ff;
}
#footer p{
	margin:0px;
	padding-top:10px;
	background-color:#ebf7ff;
}
#footer a:link{
	color:#006480;
	font-size:12px;
	text-decoration:none;
}
#footer a:visited{
	color:#006480;
	font-size:12px;
	text-decoration:none;
}
#footer a:hover{
	color:#000000;
	font-size:12px;
	text-decoration:none;
}