@charset "utf-8";
/* CSS Document */
/*
 * 肖祖鹏
 * ask.css
 * 2012/7/17
*/
p{margin:auto auto;
padding:auto auto;
font-size:18px;
font-family:Verdana, Geneva, sans-serif;
color:#333;
}
h1{
margin:auto auto;
padding:auto auto;
font-size:15px;
font-family:Verdana, Geneva, sans-serif;
color:#333;
}
#person{
	width:1000px;
	height:800px;
	margin:20px auto;
	border:#039 1px solid;
}

.details{width:796px;
height:800px;
border:#999999 1px solid;
float:left;
}
.title{
	background:url(./default/questiontitle.gif);
	width:760px;
	height:29px;
	margin:0 20px;
}
.list1{
	width:200px;
	height:100%;
	text-align:right;
	text-height:29px;
	font-size:12px;
	float:left;
}
.list2{
	width:100px;
	height:100%;
	text-align:right;
	text-height:29px;
	font-size:12px;
	float:left;
}
.list3{
	width:100px;
	height:100%;
	text-align:right;
	text-height:29px;
	font-size:12px;
	float:left;
}
.list4{
	width:100px;
	height:100%;
	text-align:center;
	text-height:29px;
	font-size:12px;
	float:left;
}
.list5{
	width:200px;
	height:100%;
	text-align:left;
	text-height:29px;
	font-size:12px;
	float:left;
}
.content{
	width:760px;
	height:29px;
	margin:10px 20px;
	border:#00FF33 1px outset;
}