<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/show.css" /> 
<link rel="stylesheet" type="text/css" href="css/head.css" /> 
<script language="javascript" type="text/javascript" src="templates/head.js" charset="gb2312"></script> 
<title>简单介绍</title>
</head>

<body>
<div id="left">
<p><a href="#">社联宗旨</a></p><hr />
<p><a href="#">组成结构</a></p><hr />
<p><a href="#">####</a></p><hr />
<p><a href="#">####</a></p><hr />
</div>
<div id="center">
社联好！社联好！社联好！社联好！社联好！社联好！社联好！社联好！
</div>

<script language="javascript" type="text/javascript" src="templates/foot.js" charset="gb2312"></script> 
</body>
</html>